<!DOCTYPE html>
<html>
  <head>

    <meta property='og:title' content='giva' />
    <meta property='og:description' content='giva is a single page web app clone of the loan website kiva' />
    
    <meta
      name="giva"
      content="giva is a single page web app clone of the loan website kiva that allows users to contribute to crowdfunded loans."
    />

    <title>Loans that change lives | Giva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png')  %>
    <script>
      window.dottedBackground = "<%= image_url("dotted-background.png") %>"
      window.choose = "<%= image_url("choose.png") %>"
      window.check = "<%= image_url("check.png") %>"
      window.grow = "<%= image_url("grow.png") %>"
      window.map = "<%= image_url("map.png") %>"
      window.agriculture = "<%= image_url("c-agriculture.jpg") %>"
      window.all = "<%= image_url("c-all.png") %>"
      window.arts = "<%= image_url("c-arts.jpg") %>"
      window.ecofriendly = "<%= image_url("c-eco-friendly.jpg") %>"
      window.education = "<%= image_url("c-education.jpg") %>"
      window.kivadomestic = "<%= image_url("c-kiva-us.jpg") %>"
      window.livestock = "<%= image_url("c-livestock.jpg") %>"
      window.refugees = "<%= image_url("c-refugeesAndIDPS.jpg") %>"
      window.women = "<%= image_url("c-women.jpg") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
